@model eShop.ViewModels.System.Users.RegisterRequest
@using LazZiya.ExpressLocalization
@inject ISharedCultureLocalizer _loc
@{
    ViewData["Title"] = _loc.GetLocalizedString("Register");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="span9">
    <ul class="breadcrumb">
        <li><a href="index.html">Home</a> <span class="divider">/</span></li>
        <li class="active">@ViewData["Title"]</li>
    </ul>
    <h3><localize>Register</localize></h3>
    <hr class="soft" />

    <div class="row">
        <div class="span4">
            <div class="well">
                <form asp-action="Register">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Dob" class="control-label"></label>
                        <input asp-for="Dob" class="form-control" />
                        <span asp-validation-for="Dob" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PhoneNumber" class="control-label"></label>
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UserName" class="control-label"></label>
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PassWord" class="control-label"></label>
                        <input asp-for="PassWord" class="form-control" />
                        <span asp-validation-for="PassWord" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPass" class="control-label"></label>
                        <input asp-for="ConfirmPass" class="form-control" />
                        <span asp-validation-for="ConfirmPass" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="@_loc.GetLocalizedString("Register")" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>